/* Liên hệ — vị trí các khối trên lưới fluid */
.s-lien-he-0 .fluid{grid-template-rows:repeat(30,minmax(24px,auto))}
@media(min-width:768px){.s-lien-he-0 .fluid{grid-template-rows:repeat(20,minmax(calc(var(--container-width)*0.0215),auto))}}
.s-lien-he-0 > .wrap{padding:calc(10vmax / 10) 0 calc(10vmax / 10)}
.s-lien-he-0 > .sec-bg img{object-position:50% 50%}
.s-lien-he-0 > .sec-bg > .sec-bg__overlay{opacity:0.55}
.b-lh-h2{grid-area:1/2/3/10;z-index:3;justify-content:flex-start}
@media(min-width:768px){.b-lh-h2{grid-area:1/2/4/26;justify-content:flex-start}}
.b-lh-info{grid-area:3/2/13/10;z-index:3;justify-content:flex-start}
@media(min-width:768px){.b-lh-info{grid-area:4/2/16/12;justify-content:flex-start}}
.b-lh-card .shape{background:#000}
.b-lh-card{grid-area:13/1/30/11;z-index:1}
@media(min-width:768px){.b-lh-card{grid-area:4/13/20/26;justify-content:center}}
.b-lh-form{grid-area:14/2/29/10;z-index:2;justify-content:flex-start}
@media(min-width:768px){.b-lh-form{grid-area:5/14/19/25;justify-content:flex-start}}

.s-lien-he-1 .fluid{grid-template-rows:repeat(10,minmax(24px,auto))}
@media(min-width:768px){.s-lien-he-1 .fluid{grid-template-rows:repeat(11,minmax(calc(var(--container-width)*0.0215),auto))}}
.b-lh-map-h4{grid-area:1/2/3/10;z-index:2;justify-content:flex-start}
@media(min-width:768px){.b-lh-map-h4{grid-area:1/2/3/26;justify-content:flex-start}}
.b-lh-map{grid-area:3/2/11/10;z-index:1}
@media(min-width:768px){.b-lh-map{grid-area:3/2/11/26}}
